{
	"extends": [
		"airbnb-typescript",
		"airbnb/hooks",
		"plugin:@typescript-eslint/recommended",
		"plugin:jest/recommended",
		"prettier",
		"plugin:prettier/recommended"
	],
	"plugins": [
		"react",
		"@typescript-eslint",
		"jest",
		"simple-import-sort",
		"import",
		"prettier"
	],
	"env": {
		"browser": true,
		"es6": true,
		"jest": true
	},
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2020,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"rules": {
		"linebreak-style": "off",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"sort-imports": "off",
		"import/order": "off",
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"newline-before-return": "error",
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": [
					"**/*.stories.tsx",
					"**/*.test.ts",
					"**/*.test.tsx",
					"**/*setupTests.ts",
					"**/devUtils/*"
				]
			}
		],
		"comma-dangle": ["error", "never"],
		"no-unreachable": "error",
		"react/jsx-props-no-spreading": "off",
		"react/prop-types": "off",
		"react/require-default-props": "off"
	},
	"overrides": [
		{
			"files": [
				"**/*.stories.*"
			],
			"rules": {
				"import/no-anonymous-default-export": "off"
			}
		},
		{
			"files": [
				"**/*.stories.*"
			],
			"rules": {
				"import/no-anonymous-default-export": "off"
			}
		},
		{
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
	]
}
